* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: green;
    padding: 22px;
}

nav {
    background-color: lime;
    display: grid;
    place-items: center;
}

nav ul {
    list-style: none;
}

nav ul a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
}

nav ul a:hover {
    background-color: green;
    color:antiquewhite;
}

.hero {

}

.heroitem h4 {
    background-image: url(assets/img/santa\ hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;

    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 80px;
    color: red;
    grid-template-columns: repeat(3, 1fr);
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}


.item img:hover {
    transform: scale(1.04);
}


.item h4 {
    padding: 5px;
    text-align: center;
}

.item button {
    padding:  5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color: antiquewhite;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    /* vad gör margin 0 auto? Det funkar men förstår inte vad den gör - ren slump att jag skrev det */
    margin: 0 auto; 
    transition: 0.2s;
}

.item button:hover{
    transform: scale(1.08);
}

/* skärm anpassning - responsiv 1000px */

@media screen and (max-width: 1000px) { 
.items .heroitem .hero{
    grid-template-columns: repeat(2, 1fr);
 }
}

/* skärm anpassning - responsiv 768px */


@media screen and (max-width: 667px) { 
.items .heroitem .hero{
    grid-template-columns: repeat(1, 1fr);
 }
}


